
@{
    ViewBag.Title = "Microcréditos";
}
<div class="pagehding-sec" style="background:url(http://claudiamoura.com/wp-content/uploads/2018/04/money-750x350.jpg) bottom no-repeat;background-size:cover">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div  class="page-heading">
                    <h1>EMPODERA ANGOLA MICROCRÉDITO</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <div class="abt-lft" style="text-align:justify">
                    <h2 style="text-align:center">EMPODERA ANGOLA MICROCRÉDITO</h2>
                    <div class="col-md-4" >
                        <p>
                            Propõe-se a potencializar comunidades pobres através do Microcrédito, como abordagem integrada e holística de combate a pobreza e promoção do desenvolvimento, como o foco em dois pressupostos:

                            <ul>
                                <li>
                                    Acesso a recursos financeiros
                                </li>
                                <li>
                                    Acesso a oportunidades para estimular o capital social
                                </li>
                            </ul>

                        </p>
                        <p>Partimos do pressuposto que a situação de pobreza de muitas comunidades em Angola é decorrente da ausência de oportunidades para potencializar o seu capital social e por esta via ter acesso a um emprego formal e que seja compatível ao nível básico para o seu sustento e/ou a formalização de uma actividade geradora de rendimento que de igualmente possa garantir a satisfação das necessidades básicas.</p>
                        <p>O acesso aos recursos financeiros permite aumentar a capacidade de aquisição de bens e serviços capazes de gerar produtos rentáveis do ponto de vista económico e social, para a satisfação das necessidades primárias como alimentação, em qualidade e quantidade suficiente, saúde, educação, habitação entre outros. Entretanto, o sucesso do que seria rentável, económica e socialmente aceitável, está intrinsecamente ligada ao reforço do capital social, entendido como o acesso a formação e informação.</p>


                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="abt-img">
                            <img src="http://www.abcalarmasyaudio.com/wp-content/uploads/2017/04/como03.png" />
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      


                        <p>
                            A perspectiva holística do Empodera Angola, através do Microcrédito, integra ambas componentes, ramificadas num conjunto de intervenções cujo fim último é contribuir para a inversão do ciclo vicioso da pobreza para um nível intermédio  capaz de ser sustentável, como se pode ver abaixo:
                            <ul>
                                <li>
                                    Pequenos empréstimos a grupos de pessoas economicamente activas, com base em garantia solidária, reputação comunitária e operacionalização simples em termos de acesso, desembolsos, gestão, juros, carência, maturidade, reembolso. Entre outros aspectos;
                                </li>
                                <li>
                                    O reforço do capital social em dois níveis:
                                </li>
                            </ul>
                        </p>
                        <p>
                            - Acesso a informação permite por exemplo que um agricultor saiba dos preços nos principais mercados, formais e informais, do tomate, da cebola, da couve, do gindungo, da cenoura e por aí em diante para fixar o preço dos seus produtos de acordo o que se pratica no Mercado;


                        </p>
                        <p>
                            - Acesso a formação sobre literacia financeira, educação para cidadania e assistência técnica vai permitir que o mesmo agricultor ao observar as boas práticas de combate a Malária terá mais tempo e mais recursos para se dedicar a sua principal actividade; ou ainda, a assistência técnica poderá contribuir para o aumento da produção, a redução da quantidade de imputes agrícolas, melhorar a qualidade do produto, entre outros aspectos;
                        </p>
                        </div>
                        <p>
                            Portanto, o Microcrédito entendido como acesso aos meios financeiros + capitais sociais (informação e formação) constitui a orientação filosófica para "EMPODERAR" e estimular as comunidades pobres.

                        </p>
                    </div>
                </div>
           
        </div>
    </div>
</div>

