@{
    ViewBag.Title = "Sobre Nós";
}
<div class="pagehding-sec" style="background:url(http://www.nak.co.uk/wp-content/uploads/about-banner.jpg) center">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-heading">
                    <h1>Sobre Nós</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft">
                    <h2>Sobre Nós</h2>
                    <p>
                        Apoiamos o desenvolvimento socioeconómico e a gerar emprego.
                    </p>
                    <h2>Missão</h2>
                    <p>Promover igualdade de Vida Cívica e Contribuir para a mudança dos papéis e estereótipo do género, Juventude e comunidades, participar no fortalecimento da auto-estima da familia e em particular auxiliar nas linhas do plano de desenvolvimento de Angola.</p>
                    <h2>Visão</h2>
                    <p>Ter um país onde as desigualdades socias estejam reduzidas com base no pincipio da completaridade, onde cada cidadão exerça o seu poder de cidadania activa, seja apoiado e ensinado a empreender.</p>
                    <h2>Objectivo</h2>
                    <p>Ver Angola uma Angola Exportadora e não Importadora.</p>


                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="img/about.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
