@{
    ViewBag.Title = "Empodera Angola";
}

<div class="slider">
    <div class="all-slide owl-item">
        
        <div class="single-slide" style="background-image:url(../../img/Empodera/IMG-20180608-WA0013.jpg);">

        </div>
        <div class="single-slide" style="background-image:url(http://hereford.edge-themes.com/wp-content/uploads/2018/03/h5-slider-img-1.jpg);">
            <div class="slider-overlay"></div>
            <div class="slider-text">
                <h1>Bem vindo</h1>
                <p>Programa Social de visa formar, capacitar e fazer a inserção social e profissional do Género, Juventude e Comunidade.</p>
                <ul>
                    <li><a href="/Home/About">Saber Mais</a></li>
                    <li><a href="/Home/Contact">Contacte-nos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Slider Section End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h1>O Empodera Angola</h1>
                    <div class="border-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div style="font-size:20px;text-align:justify" class="col-md-12 col-sm-12">
                <p>
                    O Empodera Angola é um programa social que visa capacitar, formar e fazer a inserção social e profissional do Género, Juventude e Comunidades. Temos como objectivo principal contribuir para o crescimento socioeconômico.
                </p>
                <p>
                    Acreditamos que com o empoderamento destes pilares da sociedade, é possível vir a diminuir as desigualdades sociais e melhorar as condições de vida das comunidades em geral, apoiando na geração de recursos de cada família e na criação de oportunidades que fomentem todos os aspectos da igualdade no mercado económico no desenvolvimento técnico profissional, contribuindo para a redução da segregação profissional.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<div class="count-up-sec" style="background-attachment:fixed;">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <h2><a style="padding:4px;color:white">Áreas de Actuação</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div style="text-align:justify" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft">
                    <h2>Agricultura</h2>
                    <p>
                        O Empodera Agricultura visa potencializar a agricultura familiar, feita por pequenos produtores tendo em conta que mais de 50% dos alimentos que nos chega à mesa ou seja, consumidos no país é de responsabilidade destes agricultores.
                        Acreditamos que investindo na autonomia deste sector é possível diminuir a desigualdade de gênero nas regiões onde esses pequenos agricultures vivem, bem como possibilitar o aumento da produtividade.
                    </p>
                    <p>
                        Muitas pessoas nas zonas rurais  trabalham como agricultores de subsistência, empresários de pequenos negócios, trabalhadores sem renda ou mão de obra assalariada eventual. De acordo com a perspectiva do projecto ao se fornecer a estes homens as mesmas ferramentas e recursos que se dão aos que possuem indústrias e têm condições financeiras para comprar equipamentos de última geração , incluindo melhorar o acesso aos serviços financeiros, equipamentos técnicos, terra, educação e mercados.
                    </p>
                    <h2><a style="border: 2px solid #016831;padding:4px;color: #016831" href="/Empodera/Agricultura">Saber MAis >></a></h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="http://www.mercado.co.ao/files/2016/08/agricultura-1.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Service Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div style="text-align:justify" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="http://cdn1.portalangop.co.ao/angola/pt_pt/files/highlight/2018/2/10/0,ed342412-e278-4b27-b80c-8ff64d4bfb64.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft">
                    <h2>Agroindústria</h2>
                    <p>
                        A agroindústria é o ambiente físico equipado e preparado onde um conjunto de actividades relacionadas à transformação de matérias-primas agropecuárias provenientes da agricultura, pecuária, aquicultura ou silvicultura são realizadas de forma sistemática.

                    </p>
                    <p>
                        Têm a finalidade de transformar as matérias- primas, prolongando sua disponibilidade, aumentando seu prazo de validade, diminuindo a sua sazonalidade além de agregar valor aos alimentos in natura, procurando manter as características originais dos alimentos.

                    </p>
                    <h2><a style="border: 2px solid #016831;padding:4px;color: #016831" href="/Empodera/Agroindustria">Saber MAis >></a></h2>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Service End -->
<!-- Count Up Section Start -->
<div class="count-up-sec" style="background:url(http://africanleadership.co.uk/wp-content/uploads/2018/03/Angola.jpg) center;background-attachment:fixed; background-size:cover">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-3 col-sm-6 col-xs-12">
                <div class="counting_sl">
                    <h2><a style="border: 2px solid white;padding:4px;color:white">Investimos em pessoas Para Garantir o Futuro</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Count Up Section End -->
<!-- Why Choose Us Start -->
<div class="why-choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h1>Porquê do Empodera angola?</h1>
                    <div class="border-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12 col-sm-6 inner">
                    <div class="media">
                        <div class="media-left">
                            <div class="icon">
                                <i class="fa fa-sort-amount-asc"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p style="text-align:justify">Porque o Empodera Angola promove a capacitação, auto-estima e valorização do género como pilar  integral da sociedade; porque apoia a geração de rendimento e sustentabilidade económica da sociedade. Porque promove, acima de tudo, a igualdade Social.</p>
                        </div>
                    </div>
                </div>                
                <div class="col-md-12 col-sm-6 inner">
                    <div class="media">
                        <div class="media-left">
                            <div class="icon">
                                <i class="fa fa-sort-amount-asc"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p style="text-align:justify">O projecto pretende alcançar todas as comunidades, de todas as províncias, etnias, filiações políticas, crenças e credos. Através de parcerias que nos possibilitem e nos ajudem a dar celeridade na implementação deste importante projecto, pretendemos auxiliar, apoiar e contribuir para o cumprimento dos programas de acções fundamentais contidos no plano de desenvolvimento de Angola.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-6 inner">
                    <div class="media">
                        <div class="media-left">
                            <div class="icon">
                                <i class="fa fa-sort-amount-asc"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <p style="text-align:justify">Tencionamos capacitar e formar  mulheres autónomas, jovens Empreendedores líderes e comunidades economicamente auto sustentáveis , proporcionar as ferramentas para que cada um destes pilares possam contribuir para construção de um país mais próspero, alimentar os seus sonhos e impulsionar as suas oportunidades. Queremos contribuir de forma positiva para fomentar a igualdade de oportunidades, quer nas políticas de acesso ao micro-crédito, incluindo essencialmente a implementação, formação, desenvolvimento, acompanhamento permanente e contínou, diminuindo assim a taxa de insucesso dos programas e projectos, bem como contrariar a persistente sub representação das mulheres nas esferas do desenvolvimento socioeconómico de um país.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 text-center">
                <img src="https://thisisafrica.me/lifestyle/wp-content/uploads/sites/6/2016/02/www.skyscrapercitycom.jpg" alt="" />
            </div>
        </div>
    </div>
</div>
