
@{
    ViewBag.Title = "Agricultura";
}


<div class="pagehding-sec" style="background:url(https://www.verangola.net/va/images/cache/750x380/crop/images%7Ccms-image-000010467.jpg)">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-heading">
                    <h1>Agricultura</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft" style="text-align:justify">
                    <p>
                        O Empodera Agricultura visa potencializar a agricultura familiar, feita por pequenos produtores tendo em conta que mais de 50% dos alimentos que nos chega à mesa ou seja, consumidos no país é de responsabilidade destes agricultores.
                        Acreditamos que investindo na autonomia deste sector é possível diminuir a desigualdade de gênero nas regiões onde esses pequenos agricultores vivem, bem como possibilitar o aumento da produtividade e reduzir o desmatamento desenfreado e a fome nos país.

                    </p>
                    <p>
                        Muitas pessoas nas zonas rurais  trabalham como agricultores de subsistência, empresários de pequenos negócios, trabalhadores sem renda ou mão de obra assalariada eventual. De acordo com a perspectiva do projecto ao se fornecer a estes homens as mesmas ferramentas e recursos que se dão aos que possuem indústrias e têm condições financeiras para comprar equipamentos de última geração , incluindo-se melhor acesso aos serviços financeiros, equipamentos técnicos, terra, educação e mercados.

                    </p>
                    <p>
                        Pode-se aumentar a produção agrícola em Angola em cerca de 10 a 15 por cento ano. Este aumento na produção poderá, por sua vez, contribuir de forma eficiente com a balança e a cadeia de distribuição alimentar, mantendo como referência o modelo de captação permanente para o aumento dos indicadores da produção.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="http://imgs.sapo.pt/jornaldeangola/img/thumb1/20170711092438agric_ambient.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
