
@{
    ViewBag.Title = "Agroindustria";
}


<div class="pagehding-sec" style="background:url(http://cmsconsultoria.com/fotos/software_agroindustria.jpg)">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-heading">
                    <h1>Agroindústria</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft" style="text-align:justify">
                    <p>
                        A agroindústria é o ambiente físico equipado e preparado onde um conjunto de actividades relacionadas à transformação de matérias-primas agropecuárias provenientes da agricultura, pecuária, aquicultura ou silvicultura são realizadas de forma sistemática.

                    </p>
                    <p>
                        Têm a finalidade de transformar as matérias- primas, prolongando sua disponibilidade, aumentando seu prazo de validade, diminuindo a sua sazonalidade além de agregar valor aos alimentos in natura, procurando manter as características originais dos alimentos.

                    </p>
                    <p>
                        <strong>Objectivo</strong>
                        <ul>
                            <li>
                                Apoiar a implantação de agroindústrias familiares em estabelecimentos rurais;
                            </li>
                            <li>
                                Apoiar a regularização e legalização de agroindústrias;
                            </li>
                            <li>

                                Implantar boas práticas de fabricação em agroindústrias familiares;
                            </li>
                            <li>
                                Apoiar a comercialização em feiras, eventos e mercados institucionais;
                            </li>

                        </ul>

                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="http://campoindustria.com/wp-content/uploads/2018/02/Agroindustria.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
