
@{
    ViewBag.Title = "Tecnologia";
}

<div class="pagehding-sec" style="background:url(https://ec.europa.eu/environment/efe/sites/efe/files/bg_banner_industry.jpg)">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-heading">
                    <h1>Tecnologia</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft">
                    <p>
                        Defendemos que na equação do sucesso um dos factores mais importantes é a gestão. Por isso não só criamos soluções à medida do seu negócio como o ensina-mos a usar as novas tecnologias para gerar produção, armazenamento, transmissão, acesso, segurança e gerenciamento de informações.

                    </p>
                    <p>
                      <strong>Objectivo:</strong> 
                        <ul>
                            <li>
                                Dar ao Género a capacidade de fazer uma melhor versão de si.
                            </li>
                            <li>
                                Devolver a juventude não somente a capacidade de sonhar, mas ensinar como fazer o caminho.
                            </li>
                            <li>
                                Promover a igualdade da vida Cívica e reduzir a segregação profissional.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="https://sites.google.com/site/profnewtonti/_/rsrc/1461281208839/config/customLogo.gif?revision=7" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
