
@{
    ViewBag.Title = "Turismo";
}


<div class="pagehding-sec" style="background:url(http://www.info-angola.com/images/00SobreAngolaturismo.gif)">
    <div class="images-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-heading">
                    <h1>Turismo</h1>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->
<!-- About Us Section Start -->
<div class="about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-lft">
                    <p>
                        O turismo em Angola é uma realidade emergente e o país tem um potencial enorme para o desenvolvimento desta actividade. Qualquer uma das Províncias Angolanas tem muito para oferecer, desde a sua deslumbrante herança natural até às suas riquezas culturais. 
                    </p>
                    <p>
                        Visitar Angola é uma experiência inesquecível e cada vez mais acessível já que o país e as suas condições de acessibilidade estão em rápida reconstrução.

                        Mas muitos são os lugares que não têm destaques em uma plataforma digital e são desconhecidos.

                    </p>
                    <p>
                        Por falta de oportunidades e de uma plataforma para divulgar os diversos espaços existentes no nosso pais muitos são os estabelecimentos que ficam fora das mídias isto dificultando aquilo que é a divulgação e o acesso ao meio turístico.</p>
                    <p>
                        Para suprir esta necessidade o Empodera Angola turismo criou a sua própria plataforma (<a target="_blank" href="http://muzurisana.net">Muzurisana</a>), que é uma integradora dos diverso actores do sector.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="abt-img">
                    <img src="https://www.anda.jor.br/wp-content/uploads/2018/03/35-1.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us Section End -->
